.meal-page {
    align-items: center;
    background: #f8f9fa;
    height: 100vh;
}

form {
    padding: 10px;
    width: 250px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
    border-radius: 20px;
}

input {
    width: 220px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 20px;
    border: none;
    outline: none;
    margin-left: 35px;
}

#search {
    position: absolute;
    font-size: 24px;
}

#switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 45px;
    border-radius: 10px;
    cursor: pointer;
}

.categories {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.cat {
    text-align: center;
    padding: 12px 20px;
    border-radius: 17px;
    background: white;
    font-style: italic;
    text-transform: capitalize;
}

.cat:hover {
background:#52BF6C;
color: white;
font-weight: 600;
}

.cat-active {
    background: #52BF6C;
}
.recipe-item{
    margin: 15px 25px;
    position: relative;
    padding: 20px;
    border-radius: 20px;
    width: 320px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.item-text{
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 89%;
    padding: 20px;
    border-radius: 20px;
    background:#15151571;
    text-align: left;
}
.item-text h3{
    font-size: 30px;
}
#fav-button{
    position: absolute;
    background:#151515f9;;
    color: white;
    border: none;
    outline: none;
    width: 70px;
    height: 70px;
    border-radius: 12px;
    font-size: 36px;
    right: 30px;
    top: 30px;
    cursor: pointer;
}
.desc{
    color: white;
    font-weight: 500;
}
#anim-button{
    position: relative;
    /* left: 20px;
    top: 20px; */
    color: white;
    /* background:#151515; */
    /* display: flex; */
    /* animation: border-anim 10s linear infinite both ; */
    height: 80px;
    width: 80px; 
    /* background: conic-gradient(#52BF6C 1%,transparent 0); */
    border-radius: 50%;
}
/* #anim-button::before{
    content: "";
    
    height: 76px;
    left: 2px;
    top: 2px;
    width: 76px;
    position: absolute;
    border-radius:50%;

} */
.go-texts h4{
    margin: 28px 0 0 10px;
    font-size: 20px;
}
#go-icon{
    margin: 25px 0;
    padding-right: 30px;
    transform: translateX(-50px);
    font-size: 26px;
    background: #151515f9;
    animation: arrow 2s linear infinite;
}
.go-texts{
    left: 0;
    display: flex;
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
}
@keyframes arrow {
    0%{
        padding-right:30px ;
       transform: translateX(-50px);
    }
    50%{
        padding-right:0px ;
       transform: translateX(0);
    }
    75%{
        padding-right:0px ;
       transform: translateX(0);
    }
    100%{
        padding-right:0px ;
        transform: translateX(0);
    }
}
.svg{
    cursor: pointer;
}
.circle{
    cursor: pointer;
    stroke: #52BF6C;
    stroke-width: 2px;
    fill: #151515f9;
    stroke-dasharray: 264;
    stroke-dashoffset: 0;
    animation: border-anim 4s linear infinite;
}
@keyframes border-anim {
    0%{
        stroke-dashoffset: -264;
    }
    25%{
        stroke-dashoffset: 0;
    }
    75%{
        stroke-dashoffset: 0;
    }
    100%{
        stroke-dashoffset: 264;
    }
}