@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

.recipe-page{
    background: #f8f9fa;
    /* height: 100vh; */
    font-family: "Roboto",sans-serif;
        align-items: center;
        display: flex;
        flex-direction: column;
}
.top-bar{
display: flex;
justify-content: space-between;
padding: 15px;
}
.top-bar *{
    margin: 5px 22px;
}
.top-bar h3{
font-size: 26px;
}
.icons{
    color: #9E9E9E;
    font-size: 26px;
    cursor: pointer;
}
.icons:hover{
    color: black;
}
.recipe-pic{
    width: 400px;
    height: 250px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}
.ingredients{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.ingredients h4,p{
    margin: 5px;
}
.ingredients h4{
    font-size: 24px;
}
#ing-table{
    border: 2px solid #151515f9;
    border-radius: 17px;
}
td,th{
  padding: 10px;  
  text-transform: capitalize;
}
th{
    background-color: #151515f9;
    color: white;
}
.servings{
display: flex;
/* border: 2px solid #52BF6C; */
align-items: center;
width: 150px;
height: 30px;
}
.servings *{
    margin: auto;
}
.servings input{
    width:50px;
}
.check{
    border: 2px solid;
    height: 25px;
    width: 25px;
}
.cook-button{
   display: flex; 
   padding: 10px;
   background:#151515f9;
   color: white;
   border-radius: 20px;
   margin: 10px;
}
.cook-button h3{
    margin: 5px;
    cursor: pointer;
}
#right{
    margin: 8px;
}
.list{
    text-align: left; 
    border: 2px solid #151515f9;
    margin:10px ;
    border-radius: 25px;
}
.list li{
    margin: 5px;
   cursor: pointer;
}
.selected{
    font-weight:700;
    font-size: 17px;
}

